.about__container {
    background-color: var(--dark-color);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.about__wrapper {
    width: 100%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.17) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column-reverse;
    border-radius: 4rem;
}

.about__data {
    color: var(--light-color);
    text-align: center;
}

.about__title {
    color: var(--light-color);
    margin-bottom: var(--mb-2);
}

.about__description {
    color: var(--light-color);
    margin-bottom: var(--mb-1-5);
}

.logo {
    width: clamp(20em, 80%, 25em);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 500px) {
    .about__container {
        width: 90%;
    }
}



@media screen and (min-width: 1150px) {
    .about__data {
        text-align: left;
    }

    .about__container {
        width: clamp(800px, 80%, 1450px);
        border-radius: 40px;
        padding: 2rem;
    }

    .about__wrapper {
        padding: 2rem;
        gap: 5rem;
        flex-direction: initial;
        border-radius: 2rem;
    }

    .logo {
        width: clamp(20em, 90%, 25em);
    }
}