.about__container {
    background-color: var(--dark-color);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
}

.about__wrapper {
    width: 100%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.17) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column-reverse;
    border-radius: 4rem;
    min-height: 35vh;
}

.about__data {
    color: var(--light-color);
    text-align: center;
}

.about__title {
    color: var(--light-color);
    margin-bottom: var(--mb-2);
}

.about__description {
    color: var(--light-color);
    margin-bottom: var(--mb-1-5);
}

.cell__phone {
    width: clamp(25em, 80%, 30em);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 500px) {
    .about__container {
        width: 90%;
    }
}



@media screen and (min-width: 1150px) {
    .about__data {
        text-align: left;
        width: 60%;
        margin-left: auto;
    }

    .about__container {
        width: clamp(800px, 80%, 1450px);
        border-radius: 40px;
        padding: 2rem;
    }

    .about__wrapper {
        padding: 2rem;
        gap: 5rem;
        flex-direction: initial;
        border-radius: 2rem;
    }

    .cell__phone {
        position: absolute;
        top: -25%;
        width: clamp(20em, 80%, 25em);
        transition: .3s;
    }

    .cell__phone:hover {
        transform: rotate(3deg) translatey(-5px);
    }
}

@media screen and (min-width: 1650px) {
    .cell__phone {
        top: -28%;
    }
}

@media screen and (min-width: 1850px) {
    .cell__phone {
        width: clamp(21em, 90%, 26em);
        top: -25%;
    }
}

@media screen and (min-width: 2200px) {
    .cell__phone {
        width: clamp(25em, 90%, 30em);
        top: -22%;
    }
}