.btn {
    position: relative;
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    color: var(--light-color);
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s;
    letter-spacing: 4px;
    border-radius: 25px;
    border: solid 2px var(--dark-color);
    z-index: var(--z-tooltip);
    background-color: var(--dark-color);
    margin: auto;
    font-size: clamp(0.5rem, 1vw,1rem);
}

.btn:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
    transform: translateY(-5px);
}

.secondary {
    background-color: var(--light-color);
    color: var(--dark-color)
}

.secondary:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: solid 2px var(--light-color);
}