.faqs__container {
    padding-top: 5rem;
}

.faqs__data {
    position: relative;
    text-align: center;
}

.slider {
    position: relative;
    margin: 0 auto 0 auto;
    background-color: var(--light-color);
    box-shadow: var(--box-shadow);
    border-radius: 40px;
    overflow: hidden;
}

.slide__active {
    display: block;
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 25rem;
    text-align: center;
    padding-inline: 1rem;
    padding-block: 2rem;
}

.slide__animation_right {
    right: -50%;
    animation: smooth-appear-right 1s ease forwards;
}

.slide__animation_left {
    left: -50%;
    animation: smooth-appear-left 1s ease forwards;
}

@keyframes smooth-appear-right {
    to {
        right: 0px;
        opacity: 1;
    }
}

@keyframes smooth-appear-left {
    to {
        left: 0px;
        opacity: 1;
    }
}

.slide {
   display: none
}

.slide__description_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: auto;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 1rem;
    height: 1rem;
    background-color: darkgray;
    border-radius: 50%;
    transition: .3s;
    opacity: 0.75;
}

.dot:hover {
    background-color: #606060;
}

.dot__selected {
    background-color: #606060;
}

.icon__wrapper {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: none;
}

.icon__left {
    left: 10px
}

.icon__right {
    right: 10px
}

.faqs__icon {
    /* color: var(--light-color); */
    cursor: pointer;
    font-size: var(--h1-font-size);
}

@media screen and (min-width: 1150px) {

    .icon__wrapper {
        display: initial;
    }

    .faqs__container {
        padding-top: 10rem;
    }

    .slider {
        height: 30rem;
    }

    .slide__active {
        height: 30rem;
        padding: 5rem;
        padding-inline: 10rem;
    }

    .icon__left {
        left: 2rem
    }

    .icon__right {
        right: 2rem
    }

}

@media screen and (min-width: 1750px) {

    .slider {
        height: 35rem;
    }

    .slide__active {
        height: 35rem;
    }

}