.faqs__data {
    position: relative;
}

.slider {
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    width: 40rem;
    height: 20rem;
    background-color: var(--dark-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slide {
    scroll-snap-align: start;
    width: 40rem;
    height: 20rem;
    text-align: center;
    display: grid;
}

.slide__title {
    color: var(--light-color);
}

.slide__description {
    color: var(--light-color);
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 1rem;
    height: 1rem;
    background-color: var(--light-color);
    border-radius: 50%;
    transition: .3s;
    opacity: 0.75;
}

.dot:hover {
    background-color: #606060;
}

.dot__selected {
    background-color: #606060;
}

/* .icon__wrapper {
    background-color: var(--dark-color);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
} */

.faqs__icon {
    color: var(--light-color);
}

@media screen and (min-width: 1150px) {

    .slider {
        max-width: 80rem;
        width: 80rem;
        height: 40rem;
        gap: 1rem;
    }

    .slide {
        width: 80rem;
        height: 40rem;
        padding: 5rem;
        padding-inline: 10rem;
    }

}