.footer {
    position: relative;
    overflow: hidden;
    height: 30vh;
}

.blob {
    position: absolute;
    top: 0;
    transform: translate(-50%, -69%);
    left: 50%;
    filter: blur(4rem);
}

.footer__data {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: var(--z-tooltip);
    height: 30vh;
}

.icons__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.footer__icon {
    cursor: pointer;
    color: var(--light-color);
    font-size: var(--h1-font-size);
    transition: .3s;
}

.footer__icon:hover {
    transform: translateY(-3px);
}


@media screen and (min-width: 1150px) {
    .footer__icon {
        font-size: 1.7rem;
    }
}
