.footer {
    position: relative;
    overflow: hidden;
    height: 30vh;
}

.blob {
    position: absolute;
    width: 200%;
    top: 0;
    transform: translate(-50%, -55%);
    left: 50%;
    filter: blur(1.5rem);
}

.footer__data {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: var(--z-tooltip);
    height: 30vh;
}

.nav__list {
    display: none;
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
}

.nav__link {
    display: block;
    color: var(--light-color);
    transition: .3s;
}

.nav__link:hover {
    transform: translateY(-3px);
}

.icons__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.footer__icon {
    cursor: pointer;
    color: var(--light-color);
    font-size: var(--h1-font-size);
    transition: .3s;
}

.footer__icon:hover {
    transform: translateY(-3px);
}


@media screen and (min-width: 1150px) {
    .nav__list {
        display: flex;
    }

    .blob {
        transform: translate(-50%, -69%);
        filter: blur(4rem);
    }

    .footer__icon {
        font-size: 1.7rem;
    }
}