.hero__container {
  height: 100vh;
  position: relative;
}

.hero__data {
  margin-top: 2rem;
  text-align: center;
  z-index: var(--z-tooltip);
}

.hero__title {
  margin-bottom: var(--mb-1-5);
  font-size: clamp(2.5rem, 4vw, 5rem);
}

.hero__description {
  margin-bottom: var(--mb-1-5);
  font-size: clamp(1rem, 1vw, 1.5rem);
  opacity: .8;
}

.buttons__wrapper {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.icon__wrapper {
  padding: .7rem;
  background-color: var(--light-color);
  border-radius: 9999px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: .3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon__wrapper:hover {
  transform: translateY(-5px);
}

.hero__icon {
  color: var(--dark-color);
  font-size: var(--h1-font-size);
}

.hero__img {
  position: absolute;
  bottom: 0;
}

.hero__ellipse {
  position: absolute;
  background-image: conic-gradient(from 180deg,
      #f64f59 0%,
      #c471ed 50%,
      #12c2e9 100%);
  border-radius: 100%;
  opacity: 70%;
  -webkit-filter: blur(70px);
  -moz-filter: blur(70px);
  -o-filter: blur(70px);
  -ms-filter: blur(70px);
  filter: blur(70px);
  display: none;
}

@media screen and (min-width: 300px) {
  .hero__container {
    padding-top: var(--header-height);
  }

  .hero__ellipse {
    width: clamp(20rem, 100%, 50rem);
    height: clamp(20rem, 85%, 50rem);
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .hero__img {
    left: 50%;
    transform: translate(-55%, 0);
    height: auto;
    width: clamp(20rem, 85%, 35rem);
  }
}

@media screen and (min-width: 1150px) {
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    padding: 0;
  }

  .hero__data {
    margin-top: initial;
    text-align: left;
  }

  .hero__ellipse {
    width: 60%;
    height: 90%;
    bottom: -10%;
    right: -10%;
    left: auto;
    transform: none;
  }

  .hero__img {
    left: auto;
    right: -7%;
    transform: none;
    width: 65%;
    height: auto;
  }

  .buttons__wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .icons__wrapper {
    display: flex;
    align-items: center;
    justify-content: initial;
    gap: 1rem;
  }

  .hero__icon {
    font-size: 1.7rem;
  }
}