.howWork__container {
    padding-top: 5rem;
    position: relative;
    overflow: hidden;
}

.top__container {
    text-align: center;
    height: 10rem;
}

.top__title {
    margin-bottom: var(--mb-1-5);
    color: var(--light-color);
}

.top__description {
    color: var(--light-color);
    margin-bottom: var(--mb-1-5);
    font-size: clamp(1rem, 1vw, 1.5rem);
}

.middle__container {
    display: grid;
    width: 90%;
    margin-inline: auto;
    gap: 2rem;
    margin-bottom: 5rem;
}

.middle__box {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: var(--light-color);
    font-size: var(--h3-font-size);
}

.box__2 {
    display: none;
}

.box__text {
    color: var(--light-color);
    font-size: 1.2rem;
}

.iphone_slide_wrapper {
    position: relative;
    width: auto;
    max-width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

.iphone_slide_wrapper::before {
    content: "";
    position: absolute;
    background-color: var(--light-color);
    left: -50%;
    width: 200%;
    height: 71%;
    margin-top: 22%;
    border-radius: 5px;
}

.slider {
    position: relative;
    background-image: url(../assets/iphone__frame.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.iphone__frame_img {
    visibility: hidden;
    height: 100%;
    width: 100%;
}

.img__active {
    display: block;
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    height: 97%;
    width: auto;
    object-fit: cover;
    translate: -50% -51%;
    animation: smooth-appear .5s ease forwards;
}

.img {
    display: none;
}

@keyframes smooth-appear {
    to {
        opacity: 1;
    }
}

.icon__wrapper {
    position: absolute;
    top: 50%;
    display: none;
    cursor: pointer;
}

.slider__icons {
    font-size: 2rem;
}

.icon__left {
    left: -7%;
}

.icon__right {
    right: -7%
}

.dots {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.dot {
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: var(--light-color);
    border-radius: 50%;
    transition: .3s;
    opacity: 0.75;
    cursor: pointer;
}

.dot:hover {
    background-color: #606060;
}

.dot__selected {
    background-color: #606060;
}

.bottom__container {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-block: 3rem;
}

.box__3 {
    margin-bottom: 2rem;
}

.howWork__icon {
    font-size: var(--h1-font-size);
}



@media screen and (min-width: 500px) {
    .iphone_slide_wrapper {
        max-width: 80%;
    }
}

@media screen and (min-width: 640px) {
    .iphone_slide_wrapper {
        max-width: 60%;
    }
}

@media screen and (min-width: 1150px) {
    .icon__wrapper {
        display: initial;
    }

    .top__container {
        height: 30vh;
    }

    .bottom__container {
        height: 15vh;
        margin-top: 10rem;
        padding-block: initial;
    }

    .middle__container {
        display: grid;
        height: 65vh;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30%;
        background-color: var(--light-color);
        border-radius: 40px;
    }

    .middle__box {
        color: #606060;
        font-size: var(--h3-font-size);
    }

    .box__2 {
        display: grid;
    }

    .box__3 {
        display: none;
    }

    .bgWhite {
        display: none;
    }

    .box__text {
        color: var(--text-color);
    }

    .iphone_slide_wrapper {
        position: absolute;
        height: 85vh;
        width: auto;
        top: -15%;
        margin-top: initial;
    }

    .img__active {
        height: 97%;
        translate: -50% -50.5%;
    }

    .dot {
        width: 1.2rem;
    }

    .iphone_slide_wrapper::before {
        content: none;
    }

}