.howWork__container {
    padding-top: 5rem;
    position: relative;
}

.top__container {
    text-align: center;
    height: 12rem;
}

.top__title {
    margin-bottom: var(--mb-1-5);
    color: var(--light-color);
}

.top__description {
    color: var(--light-color);
    margin-bottom: var(--mb-1-5);
    font-size: clamp(1rem, 1vw, 1.5rem);
}

.middle__container {
    display: grid;
    width: 90%;
    margin-inline: auto;
    gap: 2rem;
    margin-bottom: 9rem;
}

.middle__box {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: var(--light-color);
    font-size: var(--h3-font-size);
}

.box__2 {
    display: none;
}

.box__text {
    color: var(--light-color);
}

.bgWhite {
    background-color: var(--light-color);
    width: 100%;
    height: 30rem;
    min-height: 500px;
    border-radius: 5px;
}

.iphone_slide_wrapper {
    position: relative;
    width: auto;
    max-width: 85%;
    margin-top: -35rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.iphone__frame {
    background-image: url(../assets/iphone__frame.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.iphone__frame_img {
    visibility: hidden;
    height: 100%;
    width: 100%;
}

.slider {
    position: absolute;
    overflow: hidden;
    display: flex;
    gap: 10px;
    height: 89.5%;
    width: auto;
    max-width: 90%;
    top: 1%;
    left: 5%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 35px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.iphone__img {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider__nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.slider__nav_dot {
    width: 1rem;
    height: 1rem;
    background-color: var(--light-color);
    border-radius: 50%;
    transition: .3s;
    opacity: 0.75;
}

.slider__nav_dot:hover {
    background-color: #606060;
}

.dot__selected {
    background-color: #606060;
}

.bottom__container {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-block: 3rem;
}

.box__3 {
    margin-bottom: 2rem;
}

.howWork__icon {
    font-size: var(--h1-font-size);
}


@media screen and (min-width: 300px) {
    .slider {
        height: 89.5%;
        width: auto;
        max-width: 90%;
        top: 1%;
        left: 5%;
    }
}

@media screen and (min-width: 500px) {
    .iphone_slide_wrapper {
        width: 60%;
    }
}

@media screen and (min-width: 750px) {
    .iphone_slide_wrapper {
        margin-top: -51rem;
    }

    .bgWhite {
        height: 45rem;
    }
}

@media screen and (min-width: 1150px) {
    .top__container {
        height: 30vh;
    }

    .bottom__container {
        height: 15vh;
        padding-top: 10rem;
        padding-block: initial;
    }

    .middle__container {
        display: grid;
        height: 65vh;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30%;
        background-color: var(--light-color);
        border-radius: 40px;
    }

    .middle__box {
        color: #606060;
        font-size: var(--h3-font-size);
    }

    .box__2 {
        display: grid;
    }

    .box__3 {
        display: none;
    }

    .bgWhite {
        display: none;
    }

    .box__text {
        color: var(--text-color);
    }

    .iphone__frame {
        width: auto
    }

    .iphone_slide_wrapper {
        position: absolute;
        height: 85vh;
        width: auto;
        top: 28vh;
        margin-top: initial;
    }

    .slider {
        height: 82.5vh;
        width: auto;
        top: 1%;
        left: 4.8%;
        border-radius: 45px;
    }
}

@media screen and (min-width: 1600px) {
    .iphone_slide_wrapper {
        top: 26vh;
    }

    .slider {
        border-radius: 55px;
    }
}