.reviews {
    position: relative;
}

.reviews__container {
    text-align: center;
    padding-block: 5rem;
}

.reviews__title {
    position: sticky;
    z-index: var(--z-tooltip);
}

.reviews__data {
    grid-template-columns: 1fr;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    max-width: 400px;
    gap: 25px
}

.review__wrap {
    gap: 25px;
    display: none;
}

.review__item,
.review__item_small,
.logos__wrapper,
.square {
    background-color: #000000;
    border-radius: 15px;
    z-index: var(--z-tooltip);
    border: .09rem solid rgba(255, 255, 255, .1);
    padding: 1.5rem
}

.review__item_small {
    padding: 1rem;
    padding-inline: 1.5rem;
    max-height: 202.5px;
    min-height: 4rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logos__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    padding: .5rem;
    max-height: 150.5px;
    min-height: 4rem;
}

.logos__wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #000000);
    z-index: var(--z-tooltip);
}

.logos__wrapper::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #000000);
    z-index: var(--z-tooltip);
}

.logos {
    display: flex;
    white-space: nowrap;
    position: absolute;
    width: max-content;
    column-gap: 2rem;
}

.slider {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    animation: slide 10s infinite linear;
    column-gap: 2rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.slider img {
    height: 1.5rem;
}

.review__header {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
}

.review__data {
    text-align: left;
    gap: 10px;
}

.business,
.business__small {
    opacity: .6;
}

.feedback {
    text-wrap: initial
}

.client__img,
.client__img_small {
    border-radius: 100%;
    width: 30%;
    max-width: 190px;
    border: solid #5ED5F8 3px;
}

.square__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.square {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square__number {
    font-size: 2rem;
    color: var(--light-color);
}

.square__text {
    font-size: 1rem;
    color: var(--light-color);
    opacity: 0.6;
}

.square__icon {
    font-size: 1.5rem;
}

.review__body {
    text-align: center;
    margin-top: 1.5rem;
}

.brand__wrapper {
    display: none;
    gap: 25px;
}

.blob {
    position: absolute;
    background: linear-gradient(#b62899 0%, #a84ddf 100%);
    height: 45%;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    animation: rotate 15s infinite linear;
}

.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(6rem);
    z-index: 2;
}

.show {
    display: grid;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.10;
    }

    to {
        rotate: 360deg;
    }
}

@media screen and (min-width: 1150px) {
    .slider {
        animation: slide 17s infinite linear;
    }

    .logos__wrapper::after {
        width: 90px;
    }

    .logos__wrapper::before {
        width: 90px;
    }

    .logos__wrapper:hover .slider {
        animation-play-state: paused;
    }

    .review__item_small {
        min-height: initial;
    }

    .reviews__container {
        padding-bottom: 15rem;
    }

    .reviews__data {
        grid-template-columns: 1fr 1fr;
        max-width: none;
    }

    .review__item {
        padding: 2rem;
    }

    .review__header {
        justify-content: center;
        gap: 2.5rem;
    }

    .review__body {
        margin-top: 3rem;
    }

    .blob {
        height: 50%;
    }

    .client__img {
        width: 40%;
    }

    .slider img {
        height: 2.5rem;
    }

    .client__img_small {
        width: auto;
        height: 70%;
    }

    .name {
        font-size: 1.25rem;
    }

    .business {
        font-size: 1rem;
    }

    .feedback {
        font-size: .85rem;
    }

    .name__small {
        font-size: 1rem;
    }

    .business__small {
        font-size: .85rem;
    }

    .feedback__small {
        font-size: .70rem;
    }

    .review__wrap,
    .brand__wrapper {
        display: grid;
    }

    .square__number {
        font-size: 3rem;
    }

    .square__text {
        font-size: 1.5rem;
    }

    .square__icon {
        font-size: 2rem;
    }

    .show {
        display: none;
    }
}


@media screen and (min-width: 1750px) {

    .name {
        font-size: 1.5rem;
    }

    .business {
        font-size: 1.25rem;
    }

    .feedback {
        font-size: 1rem;
    }

    .name__small {
        font-size: 1.25rem;
    }

    .business__small {
        font-size: 1rem;
    }

    .feedback__small {
        font-size: .85rem;
    }


    .review__item {
        max-height: 430px;
        min-width: 250px;
        padding: 3rem;
    }

    .square__number {
        font-size: 5rem;
    }

    .square__text {
        font-size: 2rem;
    }

    .square__icon {
        font-size: 3rem;
    }
}

@media screen and (min-width: 2250px) {
    .reviews {
        height: 105vh;
    }

    .reviews__data {
        margin-top: 10vh;
    }
}